.div {
    background-color: rgb(45, 14, 14);
    margin-top: 10vw;
    font-size: 2vw;
    height: 10vw;
    color: rgb(211, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
}